{extend name="frame" /}

{block name="title"}思绪深渊{/block}

{block name="appbar-btn"}
<a href="{:url('Muse/goCreate')}"><i class="mdui-icon material-icons">add</i></a>
{/block}

{block name="content" }

<!-- 父情节（与当前） -->
<div class="mdui-textfield">
    <input class="mdui-textfield-input" type="text" disabled placeholder="完整情节线" />
</div>
<div class="mdui-panel" mdui-panel>

    {volist name="parents" id="muse" key="key"}
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <div class="mdui-panel-item-title">{$muse->getUserName()}</div>
            <div class="mdui-panel-item-summary">{$muse->create_time}</div>
            <div class="mdui-panel-item-summary">{$key}层</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            {:preg_replace("/\\n/","<br />",urldecode($muse->content))}
            <div class="mdui-panel-item-actions">
                <!-- <a href="{:url('Muse/goRelay?muse_id=' . $muse->museID)}"><button
                        class="mdui-btn mdui-ripple">接力</button></a> -->
                <a href="{:url('Muse/line?muse_id=' . $muse->museID)}"><button
                        class="mdui-btn mdui-ripple">查看与接力</button></a>
                <button class="mdui-btn mdui-ripple" mdui-dialog="{target: '#report-dialog-{$key}'}">
                    <font color='gray'>举报</font>
                </button>
            </div>
        </div>
    </div>

    <div class="mdui-dialog" id="report-dialog-{$key}">
        <div class="mdui-dialog-title">提示</div>
        <div class="mdui-dialog-content">是否向开发者举报该剧情？</div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-close>
                <font color='red'>举报</font>
            </button>
            <button class="mdui-btn mdui-ripple" mdui-dialog-close>
                <font color='green'>取消</font>
            </button>
        </div>
    </div>

    {/volist}
</div>

<!-- 我的接力 -->
{neq name="$current->userID" value="$Think.session.user_idaaaaaaaaaaaaaaaaaaaaaaaaa"}
<form method="post" action="{:url('Muse/relay')}">
    <input type="hidden" name="muse_id" value="{$current->museID}" />
    <div class="mdui-textfield">
        <label class="mdui-textfield-label">接力该情节线(30-300字)</label>
        <textarea class="mdui-textfield-input" name="content" maxlength="300"
            minlength="30">{:isset($default) ? $default : ""}</textarea>
    </div>

    <input type="submit" value="接力" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" />
</form>

<div class="mdui-divider"></div>
{/neq}

<!-- 子情节 -->
<div class="mdui-textfield">
    <input class="mdui-textfield-input" type="text" disabled placeholder="子情节接力" />
</div>
<div class="mdui-panel" mdui-panel>

    {volist name="children" id="muse" key="key"}
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <div class="mdui-panel-item-title">{$muse->getUserName()}</div>
            <div class="mdui-panel-item-summary">{$muse->create_time}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            {:preg_replace("/\\n/","<br />",urldecode($muse->content))}
            <div class="mdui-panel-item-actions">
                <!-- <a href="{:url('Muse/goRelay?muse_id=' . $muse->museID)}"><button
                        class="mdui-btn mdui-ripple">接力</button></a> -->
                <a href="{:url('Muse/line?muse_id=' . $muse->museID)}"><button
                        class="mdui-btn mdui-ripple">查看与接力</button></a>
                <a href="{:url('Muse/report?muse_id=' . $muse->museID)}" class="mdui-btn mdui-ripple">
                    <font color='red'>举报</font>
                </a>
            </div>
        </div>
    </div>

    <div class="mdui-dialog" id="report-dialog-{$key}">
        <div class="mdui-dialog-title">提示</div>
        <div class="mdui-dialog-content">是否向开发者举报该剧情？</div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-close>
                <a href="{:url('Muse/report?muse_id=' . $muse->museID)}"><font color='red'>举报</font></a>
            </button>
            <a href="{:url('Muse/report?muse_id=' . $muse->museID)}" class="mdui-btn mdui-ripple">
                <font color='red'>举报</font>
            </a>
        </div>
    </div>

    {/volist}
</div>

{/block}