{extend name="frame" /}

<title>{block name="title"}写作天下{/block}</title>

{block name="content"}

<div class="mdui-row-xs-1 mdui-row-sm-1 mdui-row-md-2 mdui-row-lg-3 mdui-row-xl-3 mdui-grid-list">

    <div class="mdui-col mdui-p-a-1">
        <div class="mdui-card">
            <!-- 卡片头部，包含头像、标题、副标题 -->
            <div class="mdui-card-header">
                <img class="mdui-card-header-avatar" src="__STATIC__/view/img/appicon.png" />
                <div class="mdui-card-header-title">命燃芯乂</div>
                <div class="mdui-card-header-subtitle">懒一夕智能科技</div>
            </div>
        
            <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
            <div class="mdui-card-media">
                <img src="__STATIC__/view/img/writerfly_picture1.png" />
        
                <!-- 卡片中可以包含一个或多个菜单按钮 -->
                <div class="mdui-card-menu">
                    <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i
                            class="mdui-icon material-icons">share</i></button>
                </div>
            </div>
        
            <!-- 卡片的标题和副标题 -->
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">写作天下</div>
                <div class="mdui-card-primary-subtitle">Windows/Mac/Linux</div>
            </div>
        
            <!-- 卡片的内容 -->
            <div class="mdui-card-content">
                <p>为作家们创造世界而诞生，执云作笔，诉尽平生意。</p>
                <p>集简约UI与人性化AI于一体的码孒工具，无论是小说、作文、日记、报告，都能轻松驾驭。</p>
                <p>QQ交流群：705849222</p>
            </div>
        
            <!-- 卡片的按钮 -->
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-ripple" onclick="window.location.href='https://www.bilibili.com/video/av93300324/'">视频教程</button>
                <button class="mdui-btn mdui-ripple" onclick="window.location.href='{:url(\'download//\')}'">前往下载</button>
                <button class="mdui-btn mdui-btn-icon mdui-float-right"><i
                        class="mdui-icon material-icons">expand_more</i></button>
            </div>
        </div>
    </div>

    <div class="mdui-col mdui-p-a-1">
        <div class="mdui-card">
            <!-- 卡片头部，包含头像、标题、副标题 -->
            <div class="mdui-card-header">
                <img class="mdui-card-header-avatar" src="__STATIC__/view/img/mzfy_icon.png" />
                <div class="mdui-card-header-title">命燃芯乂</div>
                <div class="mdui-card-header-subtitle">懒一夕智能科技</div>
            </div>
        
            <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
            <div class="mdui-card-media">
                <img src="__STATIC__/view/img/writerfly_picture2.png" />
        
                <!-- 卡片中可以包含一个或多个菜单按钮 -->
                <div class="mdui-card-menu">
                    <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i
                            class="mdui-icon material-icons">share</i></button>
                </div>
            </div>
        
            <!-- 卡片的标题和副标题 -->
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">码字风云</div>
                <div class="mdui-card-primary-subtitle">Android</div>
            </div>
        
            <!-- 卡片的内容 -->
            <div class="mdui-card-content">
                <p>通过分析作家在写作各方面的需求，充分利用中文语言特点和规律，为移动端写作提供多方面的智能辅助支持，包括作品管理、大纲细纲、智能标点、快速输入、文字高亮、素材搜索等，打造前所未有的码字体验！</p>
                <p>QQ交流群：964259073</p>
            </div>
        
            <!-- 卡片的按钮 -->
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-ripple" onclick="window.location.href='https://www.bilibili.com/video/av27591664'">视频教程</button>
                <button class="mdui-btn mdui-ripple" onclick="window.location.href='{:url(\'download//?d=mzfy\')}'">前往下载</button>
                <button class="mdui-btn mdui-btn-icon mdui-float-right"><i
                        class="mdui-icon material-icons">expand_more</i></button>
            </div>
        </div>
    </div>

    <div class="mdui-col mdui-p-a-1">
        <div class="mdui-card">
            <!-- 卡片头部，包含头像、标题、副标题 -->
            <div class="mdui-card-header">
                <img class="mdui-card-header-avatar" src="__STATIC__/view/img/lazykey_icon.png" />
                <div class="mdui-card-header-title">命燃芯乂</div>
                <div class="mdui-card-header-subtitle">懒一夕智能科技</div>
            </div>
    
            <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
            <div class="mdui-card-media">
                <img src="__STATIC__/view/img/LazyKey_Picture1.gif" />
    
                <!-- 卡片中可以包含一个或多个菜单按钮 -->
                <div class="mdui-card-menu">
                    <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i
                            class="mdui-icon material-icons">share</i></button>
                </div>
            </div>
    
            <!-- 卡片的标题和副标题 -->
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">懒键: LazyKey</div>
                <div class="mdui-card-primary-subtitle">VS Code Plugin</div>
            </div>
    
            <!-- 卡片的内容 -->
            <div class="mdui-card-content">
                <p>C++/Java/JS/PHP 等极其方便的按键映射</p>
                <p>大幅度减少写代码的击键次数</p>
            </div>
    
            <!-- 卡片的按钮 -->
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-ripple"  onclick="window.location.href='https://github.com/MRXY001/vscode-plugin-LazyKey'">前往下载</button>
                <button class="mdui-btn mdui-btn-icon mdui-float-right"><i
                        class="mdui-icon material-icons">expand_more</i></button>
            </div>
        </div>
    </div>
</div>



{/block}