<html ng-app="app">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{block name="title"}写作天下{/block}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.2/css/mdui.min.css">
    <script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
    <script src="__STATIC__/angularjs/angular.js"></script>
</head>

<!-- <body class="mdui-appbar-with-toolbar mdui-drawer-body-left" ng-controller="ctrl"> -->
<body ng-class="{ 'mdui-appbar-with-toolbar': true, 'mdui-drawer-body-left': useDrawer, 'mdui-appbar-with-tab': useTabBar}" ng-controller="ctrl">

    <!-- 应用栏 -->
    <div class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-theme">
            <a class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer'}"><i class="mdui-icon material-icons">menu</i></a>
            <a class="mdui-typo-headline">{block name="title"}写作天下{/block}</a>
            <div class="mdui-toolbar-spacer"></div>
            {block name="appbar-btn"}
            <div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
                <button class="mdui-textfield-icon mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></button>
                <input class="mdui-textfield-input" type="text" placeholder="Search" ng-model="searchKey" ng-keyup="searchKeyUp($event)" />
                <button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">close</i></button>
            </div>
            {/block}
            <a class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#appbar-menu'}"><i class="mdui-icon material-icons">more_vert</i></a>
            
            <!-- 右上角菜单 -->
            <ul class="mdui-menu" id="appbar-menu">
                <!-- 根据有没有登录，使用不同的菜单 -->
                {eq name="$Think.session.user_id" value=""}
                <li class="mdui-menu-item">
                    <a href="{:url('User/goLogin')}" class="mdui-ripple">
                        <i class="mdui-menu-item-icon mdui-icon material-icons">person</i>登录
                    </a>
                </li>
                <!-- <li class="mdui-menu-item">
                    <a href="{:url('User/goRegister')}" class="mdui-ripple">
                        <i class="mdui-menu-item-icon mdui-icon material-icons">person_add</i>注册
                    </a>
                </li> -->
                {else /}
                <li class="mdui-menu-item">
                    <a href="{:url('User/logOut')}" class="mdui-ripple">
                        <i class="mdui-menu-item-icon mdui-icon material-icons">directions_run</i>退出账号
                    </a>
                </li>
                {/eq}
                <li class="mdui-divider"></li>
                <li class="mdui-menu-item">
                    <a href="http://writerfly.cn/download" class="mdui-ripple">
                        <i class="mdui-menu-item-icon mdui-icon material-icons">file_download</i>客户端下载
                    </a>
                </li>
            </ul>
        </div>

        {block name="tab-bar"}
        {/block}
    </div>
    
    <!-- 默认抽屉栏在左侧 -->
    <div class="mdui-drawer"  id="left-drawer">
        <ul class="mdui-list" mdui-collapse="{accordion: true}">
        
            <a href="{:url('index/index')}"><li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                <div class="mdui-list-item-content">主页</div>
            </li></a>
        
            <a href="{:url('share//')}"><li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">dashboard</i>
                <div class="mdui-list-item-content">小说广场</div>
            </li></a>
            
            <li class="mdui-collapse-item mdui-collapse-item-open">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">device_hub</i>
                    <div class="mdui-list-item-content">码字风云榜</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="{:url('rank//?type=level')}"><li class="mdui-list-item mdui-ripple">等级风云榜</li></a>
                    <a href="{:url('rank//?type=today')}"><li class="mdui-list-item mdui-ripple">今日风云榜</li></a>
                    <a href="{:url('rank//?type=yestoday')}"><li class="mdui-list-item mdui-ripple">昨日风云榜</li></a>
                    <a href="{:url('rank//?type=room')}"><li class="mdui-list-item mdui-ripple">拼字房间</li></a>
                    <a href="{:url('rank//?type=myroom')}"><li class="mdui-list-item mdui-ripple">我的房间</li></a>
                </ul>
            </li>
        
            <li class="mdui-collapse-item mdui-collapse-item-open">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
                    <div class="mdui-list-item-content">我的作品</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="{:url('Novel/list')}"><li class="mdui-list-item mdui-ripple">我的书架</li></a>
                    <a href="{:url('Novel/singleChapterList')}"><li class="mdui-list-item mdui-ripple">单章分享</li></a>
                    <li class="mdui-list-item mdui-ripple">每日字数</li>
                    <li class="mdui-list-item mdui-ripple">回收站</li>
                </ul>
            </li>

            <li class="mdui-collapse-item mdui-collapse-item-open">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">games</i>
                    <div class="mdui-list-item-content">思绪深渊</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="{:url('Muse/entrance')}"><li class="mdui-list-item mdui-ripple">深渊入口</li></a>
                    <a href="{:url('Muse/latest')}"><li class="mdui-list-item mdui-ripple">最新情节</li></a>
                    <a href="{:url('Muse/mine')}"><li class="mdui-list-item mdui-ripple">我的情节</li></a>
                </ul>
            </li>
        
            <a href="{:url('download//')}"><li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">shopping_cart</i>
                <div class="mdui-list-item-content">客户端下载</div>
            </li></a>
        
        </ul>
    </div>

    <!-- 正文内容 -->
    <div class="mdui-container">
        {block name="content"} {/block}
    </div>

</body>
<script>
    var myApp = angular.module('app', []);

    myApp.controller("ctrl", ["$scope", '$http', function ($scope, $http) {
        $scope.useTabBar = false;
        $scope.useDrawer = true;
        $scope.searchKey = '';
        $scope.searchKeyUp = function(e) {
            console.log('按键弹起');
            var keyCode = window.event ? e.keyCode : e.which;
            if (keyCode == 13) { // 回车键
                var url = "{:url('Index/search')}" + '?key=' + $scope.searchKey;
                window.location.href=url;
            }
        };
        {block name="scope"}

        {/block}
    }]);
</script>
{block name="script"}

{/block}
</html>