{extend name="frame" /}

<title>{block name="title"}{$novelname}{/block}</title>

{block name="content" }

<ul class="mdui-list">
    {volist name="chapters" id="chapter" key="key"}
    {neq name="key" value="1"}
        <li class="mdui-divider-inset mdui-m-y-0"></li>
    {/neq}
    <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-avatar">{:mb_substr($chapter->title,0,1)}</div>
        <div class="mdui-list-item-content">
            <div class="mdui-list-item-title">{$chapter->title} - <span class="mdui-text-color-theme-text">{:mb_strlen(preg_replace("/[\s　]/","",urldecode($chapter->body)))}字</span></div>
            <div class="mdui-list-item-text mdui-list-item-one-line">{:preg_replace("/^[\s　]+/","",urldecode($chapter->body))}</div>
        </div>
        <i class="mdui-list-item-icon mdui-icon material-icons">info</i>
    </li>
    {/volist}
</ul>

{/block}