{extend name="frame" /}

{block name="title"}发布：{$chapter->title}{/block}

{block name="appbar-btn"}
<a onclick="savePublish()" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">save</i></a>
{/block}

{block name="content" }

<!-- 发布状态  -->
<label class="mdui-checkbox">
    <input type="checkbox" value="Check" ng-click="goPublish()"/>
    <i class="mdui-checkbox-icon"></i>
    发布
</label>

<label class="mdui-checkbox" ng-show="publish_state==1" ng-click="goLive()">
    <input type="checkbox" {eq name="$chapter->live_publish" value="1"}checked{/eq}/>
    <i class="mdui-checkbox-icon"></i>
    实时发布
</label>

<!-- 标题 -->
<div class="mdui-textfield mdui-textfield-floating-label">
    <label class="mdui-textfield-label">标题</label>
    <input class="mdui-textfield-input" type="text" id="chapter-title" value="{$chapter->title}" />
</div>

<!-- 正文 -->
<div class="mdui-textfield mdui-textfield-floating-label">
    <label class="mdui-textfield-label">正文</label>
    <textarea class="mdui-textfield-input" id="chapter-body">{:urldecode($chapter->body)}</textarea>
</div>
{/block}

{block name="scope"}
$scope.publish_state = {$chapter->publish_state};
$scope.live_publish = {$chapter->live_publish};
$scope.goPublish = function() {
console.log('aaaa');
    var link;
    var rst = 0;
    if ($scope.publish_state == 0)
    {
        link = "{:url('Novel/publishChapter?chapter_id=' . $chapter->chapterID)}";
        rst = 1;
    }
    else if ($scope.publish_state == 1)
    {
        link = "{:url('Novel/unpublishChapter?chapter_id=' . $chapter->chapterID)}";
        rst = 0;
    }
    else
        return ;
    $http.post(link).then(function(response){
        alert('成功');
        $scope.publish_state = rst;
    }, function(response) {
        alert('失败');
    });
}
{/block}

{block name="script"}
<script type="text/javascript">
    function savePublish() {
        var chapterID = { $chapter->chapterID };
        var url = '__URL__/saveChapter';
        var title = document.getElementById("chapter-title").value;
        var body = document.getElementById("chapter-body").value;
        if (title == "") return;

        // 去掉首尾空格
        var noblank_name = title.replace(/(^\s*)|(\s*$)/g, "");
        if (noblank_name != title) {
            title = noblank_name;
            document.getElementById("title").value = title;
        }

        var XHR = null;
        if (window.XMLHttpRequest) {
            XHR = new XMLHttpRequest();
        }
        else if (window.ActiveXObject) {
            XHR = new ActiveXObject("Microsoft.XMLHTTP");
        }

        var FD = new FormData();
        FD.append('chapter_id', chapterID);
        FD.append("title", title);
        FD.append("body", body);

        XHR.onreadystatechange = function () {
            if (XHR.readyState == 4) {
                if (XHR.status == 200) {
                    mdui.snackbar({
                        message: '保存成功',
                        buttonText: '发布',
                        onButtonClick: function () {
                            window.location = "{:url('Novel/goPublishChapter?chapter_id=' . $chapter->chapterID)}"
                        },
                    });

                    save_time = (new Date()).getTime();
                    save_text = body;
                } else {
                    mdui.snackbar({
                        message: '保存失败' + XHR.status,
                        buttonText: '使用客户端',
                        onButtonClick: function () {
                            console.log(XHR.responseText);
                        },
                    });
                }
            }
        }

        XHR.open('POST', url, true);
        XHR.send(FD);

        return false;
    }

</script>
{/block}