{extend name="frame" /}

{block name="title"}{$chapter->title}{/block}

{block name="content" }

<div class="mdui-chip">
    <span class="mdui-chip-icon">{:mb_substr($chapter->getUser()->getName(),0,1)}</span>
    <span class="mdui-chip-title">{$chapter->getUser()->getName()}</span>
</div>

<!-- 正文 -->
<div class="mdui-textfield mdui-textfield-floating-label">
    <div class="mdui-typo">{:preg_replace("/\\n/","<br />",urldecode($chapter->body))}</div>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    var inst = new mdui.Drawer('#left-drawer');
    inst.close();

    function save()
    {
        var chapterID = {$chapter->chapterID};
        var url = '__URL__/saveChapter';
        var title = document.getElementById("chapter-title").value;
        var body = document.getElementById("chapter-body").value;
        if (title == "") return;

        // 去掉首尾空格
        var noblank_name = title.replace(/(^\s*)|(\s*$)/g, "");
        if (noblank_name != title) {
            title = noblank_name;
            document.getElementById("title").value = title;
        }
        
        var XHR = null;
        if (window.XMLHttpRequest) {
            XHR = new XMLHttpRequest();
        }
        else if (window.ActiveXObject) {
            XHR = new ActiveXObject("Microsoft.XMLHTTP");
        }
        
        var FD = new FormData();
        FD.append('chapter_id', chapterID);
        FD.append("title", title);
        FD.append("body", body);

        XHR.onreadystatechange = function () {
            if (XHR.readyState == 4) {
                if (XHR.status == 200)
                {
                    mdui.snackbar({
                        message: '保存成功',
                        buttonText: '发布',
                        onButtonClick: function () {
                            window.location.href = "{:url('Novel/goPublishChapter?chapter_id=' . $chapter->chapterID)}"
                        },
                    });

                    save_time = (new Date()).getTime();
                    save_text = body;
                } else {
                    mdui.snackbar({
                        message: '保存失败' + XHR.status,
                        buttonText: '使用客户端',
                        onButtonClick: function () {
                            console.log(XHR.responseText);
                        },
                    });
                }
            }
        }
        
        XHR.open('POST', url, true);
        XHR.send(FD);

        return false;
    }
</script>
{/block}