{extend name="frame" /}

{block name="title"}发布：{$chapter->title}{/block}

{block name="appbar-btn"}
<a onclick="save()" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">save</i></a>
{/block}

{block name="content" }

<!-- 发布状态  -->
<label class="mdui-checkbox" onclick="goPublish()">
    <input type="checkbox" {eq name="$chapter->publish_state" value="1"}checked{/eq}/>
    <i class="mdui-checkbox-icon"></i>
    发布
</label>

<label class="mdui-checkbox" onclick="goLive()">
    <input type="checkbox" {eq name="$chapter->live_publish" value="1"}checked{/eq}/>
    <i class="mdui-checkbox-icon"></i>
    实时发布
</label>

<!-- 标题 -->
<div class="mdui-textfield mdui-textfield-floating-label">
    <label class="mdui-textfield-label">标题</label>
    <input class="mdui-textfield-input" type="text" id="chapter-title" value="{$chapter->title}" />
</div>

<!-- 正文 -->
<div class="mdui-textfield mdui-textfield-floating-label">
    <label class="mdui-textfield-label">正文</label>
    <textarea class="mdui-textfield-input" id="chapter-body">{:urldecode($chapter->body)}</textarea>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    function save() {
        var chapterID = { $chapter-> chapterID };
        var url = '__URL__/saveChapter';
        var title = document.getElementById("chapter-title").value;
        var body = document.getElementById("chapter-body").value;
        if (title == "") return;

        // 去掉首尾空格
        var noblank_name = title.replace(/(^\s*)|(\s*$)/g, "");
        if (noblank_name != title) {
            title = noblank_name;
            document.getElementById("title").value = title;
        }

        var XHR = null;
        if (window.XMLHttpRequest) {
            XHR = new XMLHttpRequest();
        }
        else if (window.ActiveXObject) {
            XHR = new ActiveXObject("Microsoft.XMLHTTP");
        }

        var FD = new FormData();
        FD.append('chapter_id', chapterID);
        FD.append("title", title);
        FD.append("body", body);

        XHR.onreadystatechange = function () {
            if (XHR.readyState == 4) {
                if (XHR.status == 200) {
                    mdui.snackbar({
                        message: '保存成功',
                        buttonText: '发布',
                        onButtonClick: function () {
                            window.location = "{:url('Novel/goPublishChapter?chapter_id=' . $chapter->chapterID)}"
                        },
                    });

                    save_time = (new Date()).getTime();
                    save_text = body;
                } else {
                    mdui.snackbar({
                        message: '保存失败' + XHR.status,
                        buttonText: '使用客户端',
                        onButtonClick: function () {
                            console.log(XHR.responseText);
                        },
                    });
                }
            }
        }

        XHR.open('POST', url, true);
        XHR.send(FD);

        return false;
    }

    function goPublish()
    {
        alert('发布');
    }

    function goLive()
    {
        alert('实时发布')
    }
</script>
{/block}