{extend name="frame" /}

{block name="title"}发布：{$chapter->title}{/block}

{block name="appbar-btn"}
<a onclick="save()" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '保存发布内容（不影响正文）'}"><i class="mdui-icon material-icons">save</i></a>
<a onclick="copy()" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '复制分享网址'}"><i class="mdui-icon material-icons">content_copy</i></a>
{/block}

{block name="content" }

<!-- 发布状态  -->
<label class="mdui-checkbox mdui-m-l-1" mdui-tooltip="{content: '是否设置其他人可见（广场中）'}">
    <input type="checkbox" ng-click="goPublish()" ng-checked="publish_state"/>
    <i class="mdui-checkbox-icon"></i>发布
</label>

<label class="mdui-checkbox mdui-m-l-4" ng-show="publish_state==1" mdui-tooltip="{content: '修改章节内容后立即更新发布内容'}">
    <input type="checkbox" ng-click="goLive()" ng-checked="live_publish"/>
    <i class="mdui-checkbox-icon"></i>实时发布
</label>

<!-- 发布提示 -->
<div class="mdui-chip mdui-m-l-4">
    <span class="mdui-chip-title">发布页保存的不影响原文（除非再次发布）</span>
</div>

<!-- 标题 -->
<div class="mdui-textfield mdui-textfield-floating-label">
    <label class="mdui-textfield-label">标题</label>
    <input class="mdui-textfield-input" type="text" id="chapter-title" value="{$chapter->title}" />
</div>

<!-- 正文 -->
<div class="mdui-textfield mdui-textfield-floating-label">
    <label class="mdui-textfield-label">正文</label>
    <textarea class="mdui-textfield-input" id="chapter-body">{:urldecode($chapter->body)}</textarea>
</div>
{/block}

{block name="scope"}
$scope.publish_state = {$chapter->publish_state};
$scope.live_publish = {$chapter->live_publish};
$scope.goPublish = function() {
    console.log('切换发布');
    var link;
    if ($scope.publish_state == 0)
        link = "{:url('Novel/publishChapter?chapter_id=' . $chapter->chapterID)}";
    else if ($scope.publish_state == 1)
        link = "{:url('Novel/unpublishChapter?chapter_id=' . $chapter->chapterID)}";
    else
        return ;
    $http.post(link).then(function(response){
        $scope.publish_state = $scope.publish_state ? 0 : 1;
        console.log('切换发布成功', $scope.publish_state);
    }, function(response) {
        console.log('切换发布失败');
    });
};
$scope.goLive = function() {
    console.log('切换实时发布');
    var link = "{:url('Novel/livePublish?chapter_id=' . $chapter->chapterID)}";
    $http.post(link).then(function(response){
        $scope.live_publish = $scope.live_publish ? 0 : 1;
        console.log(response);
        if (response.status == 200)
        {
            console.log('切换实时发布成功', $scope.live_publish);
        }
    }, function(response) {
        console.log('切换实时发布失败');
    });
};
{/block}

{block name="script"}
<script type="text/javascript">
    function save()
    {
        var chapterID = {$chapter->chapterID};
        var url = '__URL__/saveChapter';
        var title = document.getElementById("chapter-title").value;
        var body = document.getElementById("chapter-body").value;
        if (title == "") return;

        // 去掉首尾空格
        var noblank_name = title.replace(/(^\s*)|(\s*$)/g, "");
        if (noblank_name != title) {
            title = noblank_name;
            document.getElementById("title").value = title;
        }
        
        var XHR = null;
        if (window.XMLHttpRequest) {
            XHR = new XMLHttpRequest();
        }
        else if (window.ActiveXObject) {
            XHR = new ActiveXObject("Microsoft.XMLHTTP");
        }
        
        var FD = new FormData();
        FD.append('chapter_id', chapterID);
        FD.append("title", title);
        FD.append("body", body);

        XHR.onreadystatechange = function () {
            if (XHR.readyState == 4) {
                if (XHR.status == 200)
                {
                    mdui.snackbar({
                        message: '保存成功',
                    });

                    save_time = (new Date()).getTime();
                    save_text = body;
                } else {
                    mdui.snackbar({
                        message: '保存失败' + XHR.status,
                    });
                }
            }
        }
        
        XHR.open('POST', url, true);
        XHR.send(FD);

        return false;
    }

    function copy()
    {
        var url = "{:url('Novel/sc?chapter_id=' . $chapter->chapterID)}";
        copyToClipboard(url);
        mdui.snackbar({
            message: '复制分享网址成功',
            buttonText: '预览',
            onButtonClick: function () {
                window.location.href = url;
            },
        });
    }

    function copyToClipboard (text) {
        if(text.indexOf('-') !== -1) {
            let arr = text.split('-');
            text = arr[0] + arr[1];
        }
        var textArea = document.createElement("textarea");
        textArea.style.position = 'fixed';
        textArea.style.top = '0';
        textArea.style.left = '0';
        textArea.style.width = '2em';
        textArea.style.height = '2em';
        textArea.style.padding = '0';
        textArea.style.border = 'none';
        textArea.style.outline = 'none';
        textArea.style.boxShadow = 'none';
        textArea.style.background = 'transparent';
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? '成功复制到剪贴板' : '该浏览器不支持点击复制到剪贴板';
        // alert(msg);
        } catch (err) {
            // alert('该浏览器不支持点击复制到剪贴板');
        }

        document.body.removeChild(textArea);
    }

</script>
{/block}