{extend name="frame" /}

{block name="title"}我的作品{/block}

{block name="content" }

<div class="mdui-panel" mdui-panel>

    {volist name="novels" id="novel" key="key"}
    <div class="mdui-panel-item">
        <div class="mdui-panel-item-header">
            <div class="mdui-panel-item-title">{$novel->name}</div>
            <div class="mdui-panel-item-summary">{:date("Y-m-d H:i:s", $novel->sync_time)}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-panel-item-actions">
                <a href="{:url('Novel/chapters?novelname=' . $novel->name)}"><button
                        class="mdui-btn mdui-ripple">目录</button></a>
                <button class="mdui-btn mdui-ripple" mdui-dialog="{target: '#delete-dialog-{$key}'}">
                    <font color='gray'>删除</font>
                </button>
            </div>
        </div>
    </div>

    <div class="mdui-dialog" id="delete-dialog-{$key}">
        <div class="mdui-dialog-title">提示</div>
        <div class="mdui-dialog-content">暂时不支持网页版删除作品。</div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-close>
                <font color='green'>取消</font>
            </button>
        </div>
    </div>

    {/volist}
</div>

{/block}